body{
    font-family: 'Source Code Pro', monospace;
    font-size: 15px;
    background: rgb(255,255,255);
    background: linear-gradient(81deg, rgba(255,255,255,1) 6%, rgba(246,238,237,1) 27%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 76%, rgba(238,222,221,1) 86%);}

body ul{
    margin: 0;
    padding: 0; 
}

header{
    top: 250px; 
    position: relative;
    margin-bottom: 360px;
}

header figcaption{
    text-align: right;
}

h1{
    font-size: 90px;
    line-height: 130%;
    margin-bottom: 50px;
}

h2{
    font-size: 30px;
    line-height: 150%;
}

h1, h2, .skills_list{
    font-family: 'Inknut Antiqua', serif;
}

p{
    line-height: 150%;
}

section{
    margin-bottom: 100x;
    margin-top: 100px;
}

.skills_list{
    text-align: center;
    font-size: 50px;
    line-height: 150%;
    margin-bottom: 130px;
}

img{
    max-width: 100%;
}

.avatar{
    border: 1px solid black;
    border-radius: 50%;
    box-shadow: 100px 00px rgb(224, 188, 188);
    margin-right: 50px;
    position: relative;
    margin-top: 30px;
}

.project_pic{
    border-radius: 20px;
}

nav{
    background-color: white;
    position: fixed;
    z-index: 1;
    width: 100%;
    font-size: 14px;
    border-bottom: 1px solid black;
}

nav ul li{
    display: inline-block;
    margin: 0 15px;
    padding: 0;
    letter-spacing: 1px;
}

nav ul{
    margin: 0 auto;
    text-align: center;
    padding: 30px;
}

ul li{
    list-style: none;
    margin: 10px 0;
}

li a{
    color: white;
    text-decoration: none;
}

li a:hover{
    color: black;
}

/* menu buttons*/
.button1{
    border: 1px solid white;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    display: inline-block;
    border-radius: 30px;
    background-color: black;
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out; 
}

.button1:hover{
    background: white;
    color: black;
    border: 1px solid black;
}

.empty{
    width: 90px;
    border-top: 1px solid  black;
    position: relative;
    top: -5px;
}

/* 'read more' plus 'add me on linkedin' buttons */
.button{
    border: 1px solid black;
    text-decoration: none;
    color: black;
    padding: 10px 30px;
    margin-top: 20px;
    display: inline-block;
    border-radius: 30px;
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}

.button:hover{
    background: black;
    color: white;
}

figcaption{
    font-size: 10px;
    text-align: left;
    margin-top: 10px;
    
}

footer{
    font-size: 10px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 150px;
}

footer h2{
    font-size: 50px;
}

footer p{
    margin-top: 30px;
}

/* no links underline */
footer a{
    text-decoration: none;
    color: white;
    -webkit-text-stroke: 1px black
}

footer a:hover{
    color: black;
}